body>*{
  margin:0;
}


.Map{
  position: relative;
}

.Mapoverlay{
  position: absolute;
  top: 02vw;
  left: 2vw;
  z-index: 1;
  color: #fff;
  font-size: 64px;
  text-shadow: 0 0 15px rgba(0,0,0,0.6);
}

.Mapoverlay>*{
  margin: 0;
  text-transform: uppercase;
  line-height: 1;
}

.Mapoverlay h1{
  font-size: 64px;
}

.Mapoverlay h2{
  font-weight: 400;
  font-size: 36px;
}