body>*{
  margin:0;
}


.Map{
  position: relative;
}

.Mapoverlay{
  position: absolute;
  top: 02vw;
  left: 2vw;
  z-index: 1;
  color: #fff;
  font-size: 64px;
  text-shadow: 0 0 15px rgba(0,0,0,0.6);
}

.Mapoverlay>*{
  margin: 0;
  text-transform: uppercase;
  line-height: 1;
}

.Mapoverlay h1{
  font-size: 64px;
}

.Mapoverlay h2{
  font-weight: 400;
  font-size: 36px;
}

div#map {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: black;
}

@media (max-width: 600px){
  div#map{
      height: 85vh;
  }
}

#marker {
  background-image: url('./images/landlines-marker_07.svg');
  background-size: cover;
  width: 30px;
  height: 30px;
  cursor: pointer;

  /* opacity: 1;
  width: 20px;
  height: 20px;
  background: #FF6251;
  border-radius: 50%;
  animation-name: pulse;
  animation-duration: 2s;
  animation-delay: .5s ;
  animation-timing-function: ease;
  animation-direction: forward;
  animation-iteration-count: infinite; */

  }
  #RaelMarker{
    background-image: url('./images/raelsanfratello.jpg');
    background-size: cover;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
  }


  @keyframes pulse {
    0% {
      opacity: 1;
      width: 20px;
      height: 20px;
    }

    100%{
      opacity: 0;
      width: 50px;
      height: 50px;
    }
  }


  #ufo-marker, 
  #art-marker,
  #mtn-marker{
    cursor: pointer;
}

  #ufo-marker::after{
    content: "🛸";
    font-size: 30px;
  }

  #art-marker::after{
    content: "🎨";
    font-size: 30px;
  }

  #mtn-marker::after{
    content: "⛰️";
    font-size: 30px;
  }
   
   
   
.mapboxgl-popup-content-header>* {
margin: 0;
line-height: 1.3;
}

.mapboxgl-popup-content-header{
margin: 5px 0;
}

.description{
  font-size: 12px;
  line-height: 1.4;
}
