body{
    margin: 0;
}


div#map {
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib{
    display: none;
}


#marker {
    background-image: url('./images/landlines-marker_07.svg');
    background-size: cover;
    width: 35px;
    height: 35px;
    cursor: pointer;
      /* text-shadow: 0 0 15px rgba(0,0,0,0.6); */
    }

     
.mapboxgl-popup-content-header>* {
margin: 0;
line-height: 1.3;
}

.mapboxgl-popup-content-header{
margin: 5px 0;
}

.description{
    font-size: 12px;
    line-height: 1.4;
}